extends ../layout

block content
  .container
    h1 Stats for #{name}
    - each gameStats in stats
      .well
        - var imgUrl = gameStats["champion_img"]
        - var kills = gameStats["kills"]
        - var deaths = gameStats["deaths"]
        - var assists = gameStats["assists"]
        - var kda = gameStats["kda_ratio"]
        - var championId = gameStats["champion_id"]

        .row
          .col-sm-3
            img.champion-photo(data-champion-id=championId)
          .col-sm-3(style="font-weight: bold")
            ul.list-inline
              li KDA :
              li #{kills}
              li /
              li.text-danger #{deaths}
              li /
              li #{assists}
            ul.list-inline
              li KDA Ratio :
              li #{kda}

