extends ../layout

block content
  .container
    .row
      h1 Stats for #{name}
    - each gameStats in stats
      .row.well
        - var kills = gameStats["kills"]
        - var deaths = gameStats["deaths"]
        - var assists = gameStats["assists"]
        - var kda = gameStats["kda_ratio"]

        .col-sm-3
          p User Photo
        .col-sm-3
          p #{kills} / #{deaths} / #{assists}
          p #{kda}
        .col-sm-3
          p Some other stuff
